{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block stylesheets %}
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util3.css">
	<link rel="stylesheet" type="text/css" href="css/main3.css">

{% endblock %}

{% block body %}


<!--===============================================================================================-->

<!--===============================================================================================-->

<body>


	<div class="container-contact100" style="background-image: url('images/bg-01.jpg');">
		<div class="wrap-contact100">
{#<form class="contact100-form validate-form">#}
{#					<span class="contact100-form-title">#}
{#					Ajouter un nouveau produit#}
{#				</span>#}
{#			{{ form_start(form) }}#}
{#			<div style="width: 250px" class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">#}

{#			{{ form_row(form.name,{'label_attr':{'class':'label-input100'},'attr':{'placeholder':'name','class':'input100'#}
{#				}}) }}#}
{#			</div>#}
{#				{{ form_row(form.note,{'label':'none','label_attr':{'class':'label-input100'},'attr':{'placeholder':'note','class':'input100'}}) }}#}

{#			{{ form_end(form) }}#}
{#</form>#}
			<form action={{ path('nouveauproduitwithavis') }}  method="POST" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Ajouter un nouveau produit
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Nom produit</span>
					<input class="input100" type="text" name="name" placeholder="Nom produit" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Categorie</span>
					<input class="input100" type="text" name="categorie" placeholder="categorie" required>
				</div>

				<div class="wrap-input100">
					<span class="label-input100">Description produit</span>
					<input class="input100" type="text" name="description" placeholder="description" required>
				</div>

				<div class="wrap-input100">
					<span class="label-input100">Note</span>
					<select class="input100" name="note" required>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>

					</select>
				</div>




				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<span class="label-input100">Avis</span>
					<textarea class="input100" name="avis" placeholder="Votre avis..." required></textarea>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button type="submit" value="submit" class="contact100-form-btn">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>


	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main3.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>




{% endblock %}